<!--


# [Start Bootstrap - Modern Business](https://startbootstrap.com/template-overviews/modern-business/)

[Modern Business](http://startbootstrap.com/template-overviews/modern-business/) is a multipurpose, full website template for [Bootstrap](http://getbootstrap.com/) created by [Start Bootstrap](http://startbootstrap.com/). This template includes 17 unique HTML pages and a working PHP contact form.

## Preview

[![Modern Business Preview](https://startbootstrap.com/assets/img/templates/modern-business.jpg)](https://blackrockdigital.github.io/startbootstrap-modern-business/)

**[View Live Preview](https://blackrockdigital.github.io/startbootstrap-modern-business/)**

## Status

[![GitHub license](https://img.shields.io/badge/license-MIT-blue.svg)](https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-modern-business/master/LICENSE)
[![npm version](https://img.shields.io/npm/v/startbootstrap-modern-business.svg)](https://www.npmjs.com/package/startbootstrap-modern-business)
[![Build Status](https://travis-ci.org/BlackrockDigital/startbootstrap-modern-business.svg?branch=master)](https://travis-ci.org/BlackrockDigital/startbootstrap-modern-business)
[![dependencies Status](https://david-dm.org/BlackrockDigital/startbootstrap-modern-business/status.svg)](https://david-dm.org/BlackrockDigital/startbootstrap-modern-business)
[![devDependencies Status](https://david-dm.org/BlackrockDigital/startbootstrap-modern-business/dev-status.svg)](https://david-dm.org/BlackrockDigital/startbootstrap-modern-business?type=dev)

## Download and Installation

To begin using this template, choose one of the following options to get started:
* [Download the latest release on Start Bootstrap](https://startbootstrap.com/template-overviews/modern-business/)
* Install via npm: `npm i startbootstrap-modern-business`
* Clone the repo: `git clone https://github.com/BlackrockDigital/startbootstrap-modern-business.git`
* [Fork, Clone, or Download on GitHub](https://github.com/BlackrockDigital/startbootstrap-modern-business)

## Usage

### Basic Usage

After downloading, simply edit the HTML and CSS files included with the template in your favorite text editor to make changes. These are the only files you need to worry about, you can ignore everything else! To preview the changes you make to the code, you can open the `index.html` file in your web browser.

### Advanced Usage

After installation, run `npm install` and then run `gulp dev` which will open up a preview of the template in your default browser, watch for changes to core template files, and live reload the browser when changes are saved. You can view the `gulpfile.js` to see which tasks are included with the dev environment.

## Bugs and Issues

Have a bug or an issue with this template? [Open a new issue](https://github.com/BlackrockDigital/startbootstrap-modern-business/issues) here on GitHub or leave a comment on the [template overview page at Start Bootstrap](http://startbootstrap.com/template-overviews/modern-business/).

## Custom Builds

You can hire Start Bootstrap to create a custom build of any template, or create something from scratch using Bootstrap. For more information, visit the **[custom design services page](https://startbootstrap.com/bootstrap-design-services/)**.

## About

Start Bootstrap is an open source library of free Bootstrap templates and themes. All of the free templates and themes on Start Bootstrap are released under the MIT license, which means you can use them for any purpose, even for commercial projects.

* https://startbootstrap.com
* https://twitter.com/SBootstrap

Start Bootstrap was created by and is maintained by **[David Miller](http://davidmiller.io/)**, Owner of [Blackrock Digital](http://blackrockdigital.io/).

* http://davidmiller.io
* https://twitter.com/davidmillerskt
* https://github.com/davidtmiller

Start Bootstrap is based on the [Bootstrap](http://getbootstrap.com/) framework created by [Mark Otto](https://twitter.com/mdo) and [Jacob Thorton](https://twitter.com/fat).

## Copyright and License

Copyright 2013-2017 Blackrock Digital LLC. Code released under the [MIT](https://github.com/BlackrockDigital/startbootstrap-modern-business/blob/gh-pages/LICENSE) license.
-->


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Loop Quantum Records nasce come aggregazione indipendente di diversi artisti nell’ambito musicale, senza distinzione di genere. Un concetto moderno e dinamico di casa discografica, situata nell’area geografica della provincia di Vicenza.">
    <meta name="author" content="Loop Quantum Records">
      <meta name="keywords" content="loop quantum records,etichetta discografica,casa discografica,musica,veneto,home,loop,quantum,records" />

    <title>Loop Quantum Records - nuova etichetta discografica indipendente dell'alto vicentino</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
<link rel="icon" href="immagini/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="immagini/favicon.ico" type="image/x-icon"/>
      <style>
  /* hide mobile version by default */
  .mobile {
    display: none;
  }
  /* when screen is less than 600px wide
     show mobile version and hide desktop */
  @media (max-width: 600px) {
    .mobile {
      display: block;
        text-align: left;
    }
    .desktop {
      display: none;
    }
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      
      
      <style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    float: right;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
</style>
      
      
      
  </head>

  <body>

    <!-- Navigation -->
      
         <div class="mobile">
      
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <div class="logo">
              <a href="index.html">
  
  <img src="immagini/logo_mobile.png"/></a>
            </div> 
        <a class="navbar-brand" href="index.html">Loop Quantum Records</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">Chi siamo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Eventi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contattaci</a>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gallery
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item active" href="portfolio-1-col.html">Loghi stagione 2017</a>
                <a class="dropdown-item" href="portfolio-2-col.html">Loghi stagione 2018</a>
                <a class="dropdown-item" href="portfolio-3-col.html">Foto Artisti</a>
                <a class="dropdown-item" href="portfolio-4-col.html">Merchandise</a>
               <!-- <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a> -->
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artisti
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Descrizione Artisti Interni</a>
               <!-- <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item" href="blog-post.html">Blog Post</a>  -->
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Music
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Music Loop Quantum</a>
                  <!--
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
      </div>
      
      <div class="desktop">
      
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          
        

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          
        <div class="collapse navbar-collapse" id="navbarResponsive">
            
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active" style="font-size: 1.5em" >
              <a class="nav-link" href="about.html">Chi siamo</a>
            </li>
            <li class="nav-item active" style="font-size: 1.5em">
              <a class="nav-link" href="services.html">Eventi</a>
            </li>
              <li class="nav-item active">
               
              </li>
            <li class="nav-item active" style="font-size: 1.5em">
              <a class="nav-link" href="contact.html">Contattaci</a>
            </li>
              
             
          </ul>
            <div class="logo">
              <a href="index.html">
  <img src="immagini/logo.png"  />
  </a>
            </div>
            
            
             <ul class="navbar-nav ml-auto" >
            
              
              <li class="nav-item dropdown hidden-md-down active" style="font-size: 1.5em">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gallery
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item active" href="portfolio-1-col.html">Loghi stagione 2017</a>
                <a class="dropdown-item" href="portfolio-2-col.html">Loghi stagione 2018</a>
                <a class="dropdown-item" href="portfolio-3-col.html">Foto Artisti</a>
                <a class="dropdown-item" href="portfolio-4-col.html">Merchandise</a>
          </div>
        </li>
             <li class="nav-item dropdown hidden-md-down active" style="font-size: 1.5em">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artisti
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="blog-home-1.html">Descrizione Artisti Interni</a>
          </div>
        </li>
             <li class="nav-item dropdown hidden-md-down active" style="font-size: 1.5em">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Music
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="full-width.html">Music Loop Quantum</a>
          </div>
        </li>
             
          </ul>
            
           
            
        </div>
      </div>
    </nav>

      </div>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
            
          <div class="carousel-item active" style="background-image: url('immagini/screen-cerbero.jpg')" >
            <div class="carousel-caption d-none d-md-block">
              <a style="color: white" style="display:block"  href="https://www.youtube.com/watch?v=XkN0LE28DlI">
              <h3 >Cerbero ora online!!</h3>
              <p>Ultima canzone uscita.</p>
                </a>
              </div>
          </div>
            
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('immagini/hew-copertina.jpg')">
            <div class="carousel-caption d-none d-md-block"  >
                <a style="color: black" style="display:block"  href="https://www.facebook.com/HouseEveryWeekend/">
              <h3 style="color: black" >HEW - House Every Weekend</h3>
              <p style="color: black" >Nuovo evento firmato Loop Quantum!!!</p>
                    </a>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('immagini/logo-grande.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <a style="color: black" style="display:block"  href="https://www.facebook.com/LoopQuantumRecords/">
              <h3>Loop Quantum</h3>
              <p>Diamo il via ad una nuova, splendida avventura musicale!</p>
                     </a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
      
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      
    <div class="container">

      <h1 class="my-4">Welcome to LoopQuantum Records</h1>

      <!-- Marketing Icons Section -->
        
     <div class="card mb-3 text-center">
  <div class="card-header">
   <p class="font-weight-bold">Canale YouTube</p>
  </div>
  <div class="card-body">
    <h5 class="text-center">YouTube</h5>
    <p class="text-center">Ascolta le nostre canzoni su YouTube!!</p>
    <a href="https://www.youtube.com/channel/UCuS3DNuulK6uYCfaFalGFVA" class="btn btn-primary center-block">Canale YouTube</a>
  </div>
</div>
       
        
      <div class="row">
        
       
          
          <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Siamo su Facebook!</h4>
            <div class="card-body">
                 <div class="fb-page" data-href="https://www.facebook.com/LoopQuantumRecords/" data-tabs="timeline" data-width="300" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LoopQuantumRecords/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LoopQuantumRecords/">Loop Quantum Records</a></blockquote></div>
              <p class="card-text">LoopQuantum è su Facebook, piazza il tuo like, ascolta i brani dei nostri artisti e non dimenticarti di lasciare un feedback :)</p>
            </div>
             
            <div class="card-footer">
              <a href="https://www.facebook.com/LoopQuantumRecords/" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">SoundCloud</h4>
            <div class="card-body" >
              <p class="card-text">Puoi ascoltare le nostre canzoni anche su SoundCloud... che aspetti?? -> <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fhttps%3A%2F%2Fsoundcloud.com%2Floopquantumrecords&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>.
                </p>
               
            </div>
            <div class="card-footer">
              <a href="https://soundcloud.com/loopquantumrecords" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">E non dimenticarti di seguirci su Instagram</h4>
            <div class="card-body">
              <p class="card-text"><!-- InstaWidget -->
                  
</p>
    <div><!-- InstaWidget -->
<a href="https://instawidget.net/v/user/loopquantumrecords" id="link-cd286501fdcabd1ed72f14ec718e27a3db34b0b73f452e45017853e7bf1bd98b">@loopquantumrecords</a>
<script src="https://instawidget.net/js/instawidget.js?u=cd286501fdcabd1ed72f14ec718e27a3db34b0b73f452e45017853e7bf1bd98b&width=300px"></script></div>            
            </div>
            <div class="card-footer">
              <a href="https://www.instagram.com/?hl=it" target="_blank" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>Canzoni</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://www.youtube.com/watch?v=vB5RwLrFPbo"><img class="card-img-top" src="immagini/regression.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.youtube.com/watch?v=vB5RwLrFPbo">Regression - Cathode</a>
              </h4>
              <p class="card-text">Fuori ora il nuovo brano di Loop Quantum Records 🔝

Cathode ci offre un viaggio nel fantastico mondo della Techno Music🎧

Diamo spazio al talento locale!

</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://www.youtube.com/watch?v=t5XYvb3ie2k"><img class="card-img-top" src="immagini/levitate.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.youtube.com/watch?v=t5XYvb3ie2k">Levitate - MarziJ</a>
              </h4>
              <p class="card-text">Levitate di MarziJ, fuori ora per Loop Quantum Records!

Diamo spazio al talento locale!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://www.youtube.com/watch?v=cyXJyTT3xQc&t=54s"><img class="card-img-top" src="immagini/sunrise.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.youtube.com/watch?v=cyXJyTT3xQc&t=54s">Sunrise - Hypeless</a>
              </h4>
              <p class="card-text">Fieri di annunciare la release di "Sunrise (Make You Mine)", nuova produzione del DJ e producer Hypeless!

₪ Condividi e supporta il talento locale! ₪!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://www.youtube.com/watch?v=Szw2u_hIQrg"><img class="card-img-top" src="immagini/firewood.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.youtube.com/watch?v=Szw2u_hIQrg">Firewood - Chiara Morelli</a>
              </h4>
              <p class="card-text">Siamo tornati ed è tempo di far parlare la musica!

A voi il pezzo Firewood di Chiara Morelli. Prende sempre più forma l’interessante progetto Saint Cecily Music..</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://www.youtube.com/watch?v=KHOZEq8a9vI&feature=youtu.be"><img class="card-img-top" src="immagini/revenge.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.youtube.com/watch?v=KHOZEq8a9vI&feature=youtu.be">Revenge - Fonzy Vincent e Leiner </a>
              </h4>
              <p class="card-text">Revenge, il terzo brano ufficiale di Loop Quantum Records, scritto e prodotto da Fonzy Vincent e Leiner è FUORI ORA. .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://www.youtube.com/watch?v=7kd65kz50Zk"><img class="card-img-top" src="immagini/take.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://www.youtube.com/watch?v=7kd65kz50Zk">Take Enough</a>
              </h4>
              <p class="card-text">Lo avevamo annunciato e ora lo confermiamo: Take Enough di MarziJ & Hypeless è FUORI ORA!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>HEW - House Every Weekend</h2>
          <p>In collaborazione con Plaza Music Sound:</p>
          <ul>
            <li>
              <strong>Evento top!</strong>
            </li>
            <li>Artisti loop quantum</li>
            <li>Locale pazzesco</li>
            <li>Divertimento</li>
            <li>e tanta musica!!!</li>
          </ul>
          <p>  
            </p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="immagini/hew-piccola.jpg" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Per informazioni contattaci su facebook o sulla sezione contatti.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="contact.html">Contattaci</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
          
          <a href="https://www.facebook.com/LoopQuantumRecords/" class="fa fa-facebook"></a>



<a href="https://www.youtube.com/channel/UCuS3DNuulK6uYCfaFalGFVA" class="fa fa-youtube"></a>


          
          
        <p class="m-0 text-center text-white">Copyright &copy; Loop Quantum Records</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
